
body{font-family:Tahoma,Arial;background:#f4f7fb;margin:0;color:#222}
header{background:#12355b;color:white;padding:25px}
nav{background:white;padding:15px}
nav a{margin:8px;text-decoration:none;color:#12355b}
main{padding:25px}.card{background:white;padding:20px;border-radius:12px;margin:15px 0}
pre{background:#111;color:#fff;padding:15px}
h2{color:#12355b}
